In [1]:
import pandas as pd
origin_data = pd.read_csv('ReviewContent_Label_lightside.csv')
origin_data.head()

                                                Text  Label
0  The food at snack is a selection of popular Gr...     -1
1  The restaurant is on the ground floor of a typ...     -1
2  Really nice mousaka and lovely dÃ©cor inside. ...     -1
3  I really enjoyed brunch at Jane. The ambiance ...     -1
4  We ate at the Blue Ribbon with colleagues. The...     -1

In [2]:
data_pos_o = origin_data[origin_data['Label'] == 1]
data_pos_o = data_pos_o.reset_index(drop=True)
data_pos_o.head()

                                                Text  Label
0  For lunch, my friend and I had: -Lamb sandwich...      1
1  LOVE this place! The decor is chic, and the fo...      1
2  Came here for a friend's birthday. The food wa...      1
3  It was a Wednesday night. I got to the restaur...      1
4  Excellent food and cocktail, and a cute place ...      1

In [3]:
data_neg = origin_data[origin_data['Label'] == -1]
data_neg = data_neg.reset_index(drop=True)
data_neg.__len__()
# data_neg.head()

6898

In [4]:
data_pos = data_pos_o.sample(n=6898, random_state=9, axis=0)
data_pos = data_pos.reset_index(drop=True)
data_pos.head()

                                                Text  Label
0  A bit over-rated. Â  I'm a huge foie gras fan ...      1
1  Yikes! Forgot to review! We came here for my b...      1
2  If you're planning to come to Soba-ya, I hope ...      1
3  Balls, balls, balls of meat! Sweet, juicy, sal...      1
4  SUNDAY NIGHT BURGER AND BEER... a Six Points I...      1

In [5]:
data_pos_suffle = data_pos.sample(frac=1)
data_pos_suffle = data_pos_suffle.reset_index(drop=True)
data_pos_suffle.__len__()
data_pos_test = data_pos_suffle.iloc[0: 1000]
data_pos_train = data_pos_suffle.iloc[1000:]

In [6]:
data_neg_shuffle = data_neg.sample(frac=1)
data_neg_shuffle = data_neg_shuffle.reset_index(drop=True)
data_neg_shuffle.__len__()
data_neg_test = data_neg_shuffle.iloc[0: 1000]
data_neg_train = data_neg_shuffle.iloc[1000:]

In [7]:
data_train = data_pos_train.append(data_neg_train, ignore_index=True)
data_train.rename(columns={'Text': 'text', 'Label': 'class'}, inplace=True)
data_train.head()

                                                text  class
0  It's nice to have this place in the west villa...      1
1  yum, would def go back here again. Â the sangr...      1
2  Okay... I'm the 3092th person to rate this pla...      1
3  uh yea...let me put it to you this way...If I ...      1
4  To keep things short, what makes me give this ...      1

In [8]:
data_train.to_csv('data_trian.csv', index=False)

In [9]:
data_test = data_pos_test.append(data_neg_test, ignore_index=True)
data_test.rename(columns={'Text': 'text', 'Label': 'class'}, inplace=True)
data_test['class'].value_counts()

-1    1000
 1    1000
Name: class, dtype: int64

In [10]:
data_test.to_csv('data_test.csv', index=False)